/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .banner-height {
    height: max(
      550px,
      min(85vh, calc(var(--hc-lg-height, 9) / var(--hc-lg-width, 16) * 100vw))
    );
  }

  .content-padding {
    padding-top: 191px !important;
  }

  .four-column {
    @apply grid-cols-4 !important;
    @apply grid-flow-row !important;
  }

  .hide-card:nth-child(n + 7) {
    display: none;
  }

  .show-card:nth-child(n + 7) {
    display: block !important;
  }

  .scroll {
    scroll-snap-type: x mandatory;
  }

  .scroll:nth-child(n) {
    scroll-snap-align: start;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroll-bar-none::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll-bar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .mobile-column {
    grid-template-columns:
      repeat(calc(var(--column-count) - 1), calc(100% - 108px))
      100%;
  }

  .large-padding {
    @apply px-20 !important;
  }

  .ul {
    display: flex;
    overflow: auto clip;
    height: 100%;
    list-style: none;
    min-width: 100%;
    scroll-snap-type: x mandatory;
  }

  .li {
    border-style: solid;
    border-color: transparent;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
  }

  .hide {
    display: none !important;
  }

  .show-grid {
    display: grid !important;
  }
}
